/* @tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales */
:root {
  --foreground: #171717;
  --background: #D1D5DB; /* Fondo claro por defecto */
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

